.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.1em;

  color: #ffffff;

  padding-bottom: 0.5rem;
}

.subtitle {
  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.1em;

  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 2rem;
}

.connectButton {
  background: rgba(5, 1, 9, 0.5) !important;
  width: 300px !important;
  height: 76px !important;
  border-radius: 20px !important;

  border: 1px solid #ffffff;

  font-family: 'Lexend Mega';
  font-style: normal;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 25px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.1em;

  color: #ffffff;

  transition: 0.3s ease-in-out;
}

.connectButton:hover {
  background: rgba(35, 35, 35, 0.5) !important;
}

.marbleOne {
  position: absolute;
  width: 139.65px;
  height: 139.65px;
  left: 280px;
  top: 700px;

  background: radial-gradient(
    53% 53% at 39.04% 34.93%,
    #af4979 0%,
    #2e001f 100%
  );

  box-shadow: -5px 5px 60px rgba(172, 57, 115, 0.5);
  transform: rotate(79.25deg);

  border-radius: 50%;
}

.marbleTwo {
  position: absolute;
  width: 85.5px;
  height: 85.5px;
  left: 1458.06px;
  top: 244px;

  background: radial-gradient(
    52.44% 52.44% at 39.04% 34.93%,
    #9458b1 0%,
    #1f002c 100%
  );
  box-shadow: 4px 4px 60px rgba(114, 45, 149, 0.8);
  transform: rotate(1.38deg);
  border-radius: 50%;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
